.start-box {
    border-top: 2px solid #333;
}

.start-box > button {
    background-color: #555;
    padding: 15px 40px;
    cursor: pointer;
    border: none;
    margin-top: 50px;
    transition: all 0.4s ease;
    color: #fff;
    border-radius: 50px;
}

.start-box > button:hover {
    background-color: #777;
    scale: 1.1;
}